<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>گزارش سفارش‌ها</title>
</head>
<body>
    <h1>گزارش سفارش‌ها</h1>
    <table border="1">
        <thead>
            <tr>
                <th>شناسه</th>
                <th>کاربر</th>
                <th>محصولات</th>
                <th>تاریخ</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.username }}</td>
                <td>
                    {% for item in order.items.all %}
                    {{ item.product.Name }} ({{ item.quantity }})
                    {% endfor %}
                </td>
                <td>{{ order.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
